In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df =pd.read_csv('cardekho_imputated.csv')

In [3]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [4]:
df.drop(columns=['car_name', 'brand', 'Unnamed: 0'], axis=1, inplace = True)

In [5]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15411 entries, 0 to 15410
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   model              15411 non-null  object
 1   vehicle_age        15411 non-null  int64
 2   km_driven          15411 non-null  int64
 3   seller_type        15411 non-null  object
 4   fuel_type          15411 non-null  object
 5   transmission_type  15411 non-null  object
 6   mileage            15411 non-null  float64
 7   engine             15411 non-null  int64
 8   max_power          15411 non-null  float64
 9   seats              15411 non-null  int64
 10  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1.3+ MB

In [7]:
df.describe()

,vehicle_age,km_driven,mileage,engine,max_power,seats,selling_price
count,15411.000000,1.541100e+04,15411.000000,15411.000000,15411.000000,15411.000000,1.541100e+04
mean,6.036338,5.561648e+04,19.701151,1486.057751,100.588254,5.325482,7.749711e+05
std,3.013291,5.161855e+04,4.171265,521.106696,42.972979,0.807628,8.941284e+05
min,0.000000,1.000000e+02,4.000000,793.000000,38.400000,0.000000,4.000000e+04
25%,4.000000,3.000000e+04,17.000000,1197.000000,74.000000,5.000000,3.850000e+05
50%,6.000000,5.000000e+04,19.670000,1248.000000,88.500000,5.000000,5.560000e+05
75%,8.000000,7.000000e+04,22.700000,1582.000000,117.300000,5.000000,8.250000e+05
max,29.000000,3.800000e+06,33.540000,6592.000000,626.000000,9.000000,3.950000e+07

In [8]:
df.isnull().sum()

model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [9]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [10]:
df['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [11]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
discrete_featues = [feature for feature in num_features if len(df[feature].unique()) <= 25]
continuos_features = [feature for feature in num_features if feature not in discrete_featues]

In [12]:
print("Number of numerical featues :: ", len(num_features))
print("Number of categorical features :: ",len(cat_features))
print("Number of discrete feature :: ", len(discrete_featues))
print("Number of continuous feature :: ", len(continuos_features))

Number of numerical featues ::  7
Number of categorical features ::  4
Number of discrete feature ::  2
Number of continuous feature ::  5

In [13]:
from sklearn.model_selection import train_test_split
x = df.drop(columns=['selling_price'],axis = 1)
y = df['selling_price']

In [14]:
x.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [15]:
y.head()

0    120000
1    550000
2    215000
3    226000
4    570000
Name: selling_price, dtype: int64

In [ ]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
# label = LabelEncoder()
odn = OrdinalEncoder()

In [17]:
# x['model'] = label.fit_transform(x['model'])
odn_col = ['model']

In [19]:
ohe_cols = ['seller_type', 'fuel_type', 'transmission_type']
scale_cols = [cols for cols in x.columns if cols not in ohe_cols]

In [20]:
ohe = OneHotEncoder(sparse_output = False,drop = 'first')

In [21]:
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

In [22]:
scaler = StandardScaler()

In [ ]:
preprocessor = ColumnTransformer(
    [
        ('OrdinalEncoder', odn, odn_col),
        ('OneHotEncoder', ohe, ohe_cols),
        ('StandardScaler', scaler, scale_cols)
    ],remainder='passthrough'
)

In [ ]:
x = preprocessor.fit_transform(x)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.28, random_state=42)

In [ ]:
x_test, x_train

In [ ]:
y_train,y_test

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [ ]:
def evaluate_models(true, predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true,predicted)
    return mae, mse, r2_square

In [ ]:
models = {
    "LinearRegressor" : LinearRegression(),
    "DecisionTreeRegressor" : DecisionTreeRegressor(),
    "RandomForestRegressor" : RandomForestRegressor(n_estimators=200, min_samples_split=2, max_depth= None, criterion= 'absolute_error'),
    "KNNRegressor" : KNeighborsRegressor(n_neighbors=2),
    "LogisticRegressor" : LogisticRegression()
}

In [ ]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train, y_train)

    y_pred = model.predict(x_test)

    model_mae, model_mse, model_r2_score = evaluate_models(y_pred, y_test)

    print(list(models.keys())[i])

    print("Model performance")
    print("Mean Squared Error : ",model_mae)
    print("Mean Absolute Error : ",model_mse)
    print("R2 Score : ", model_r2_score)

    print("\n.......................................")

In [56]:
# random_forest_param = {
#     "n_estimators" : [100, 200, 500],
#     "criterion" : ["squared_error", "absolute_error"],
#     "max_depth" : [5, 15, None, 10],
#     "min_samples_split" : [2, 3, 5]
# }
# knn_params = {"n_neighbors" : [5,10,15, 3, 2]}

In [57]:
# from sklearn.model_selection import RandomizedSearchCV

In [60]:
# randomcv_models = [('knn', KNeighborsRegressor(), knn_params),
#                    ('rfr', RandomForestRegressor(), random_forest_param)
#                   ]

In [ ]:
# model_params = {}

# for name, model, param in randomcv_models:
#     random = RandomizedSearchCV(estimator=model, param_distributions=param,
#                                     n_iter=100,
#                                     cv=3,
#                                     verbose=2,
#                                     n_jobs=-1)
#     random.fit(x_train, y_train)
#     model_params[name] = random.best_params_

# for model_name in model_params:
#     print("...................................")
#     print(f"Best Parameters for {model_name}")
#     print(model_params[model_name])

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
pipe = Pipeline(steps = [
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor(n_estimators=200, min_samples_split=2, max_depth= None, criterion= 'absolute_error'))
]